//imports
@import "reset";

//variables
$padding: 2.5%;
$lineHeight: 2em;
$marginStd: 1%;

body{
	font-family: 'Lato', sans-serif;
	background-image: url('/assets/bg.jpg');
	color: rgb(0,0,0);
}

header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: 75px;
	background-color: rgb(255,255,255);

	#logo{	
		flex: 1 0 auto;
		order: 0;
		display: inline-block;
		height: inherit;
		background: url('/assets/logo.svg')
		no-repeat left;
		margin-left: 10px;
	}

	#plus{
		flex: 0 0 auto;
		order: 0;
		align-self: center;
		font-size: 2em;
		text-align: center;
		color: rgb(183, 67, 38);
		margin-right: 20px;
		border: 1px solid orange;
		height: 25px;
		width: 25px;
	}
}

#menu{
	font-family: 'Oswald', sans-serif;
	align-items: center;
	height: 40px;
	background-color: rgb(58,58,60);
	color: rgb(129, 130, 133);

	#ul{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 100%;
	}

	.menuLists{
		box-sizing: border-box;
		flex: 0 0 auto;
		display: inline-block;
		height: 40px;
		width: 33%;
		text-align: center;
		padding-top: 10px;
	}

	#random, #myBoards{
		border-right: 1px solid rgb(150,150,150);
	}
}

#contentContainer{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-top: $marginStd;
}

	.container{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		display: inline-block;
		width: 350px;
		height: 400px;
		padding: 20px 15px 0 15px;
		background-color: rgb(255,255,255);
		margin: $marginStd 0 1.5% 0;

		#image{
			flex: 0 1 auto;
			order: 0;
			align-self: center;
			width: 345px;
			height: 200px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		.title{
			font-family: 'Oswald', sans-serif;
			order: 1;
			width: 75%;
			line-height: $lineHeight;
			font-size: 1.5em;
			overflow-wrap: normal;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.author{
			flex: 0 0 auto;
			order: 2;
			background-color: yellow;
			padding-right: 10px;
		}

		.date{
			flex: 0 0 auto;
			order: 2;
			background-color: green;
			padding-right: 10px;
		}

		.comments{
			flex: 0 0 auto;
			order: 2;
			background-color: red;
			padding-right: 10px;
		}

	}