//imports
@import "./partials/reset";

//variables
$padding: 2.5%;
$lineHeight: 2em;
$marginStd: 1%;

body{
	font-family: 'Lato', sans-serif;
	background-image: url('/assets/bg.jpg');
	color: rgb(0,0,0);
}

header{
	width: 100%;
	height: 75px;
	background-color: rgb(255,255,255);

	#logo{	
		width: inherit;
		height: inherit;
		background: url('/assets/logo.svg')
		no-repeat left;
	}
}

#menu{
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: rgb(58,58,60);
	color: rgb(129, 130, 133);
	border:2px solid pink;

	#ul{
		flex: 0 0 auto;
		background-color: white;
	}
	.menuLists{
		flex: 0 0 auto;
		display: inline-block;
		border: 1px solid rgb(150,150,150);
	}
}

#contentContainer{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-top: $marginStd;
}

	.container{
		display: flex;
		flex-flow: column wrap;
		// align-items: center;
		width: 350px;
		height: 400px;
		padding: 20px 15px 0 15px;
		background-color: rgb(255,255,255);
		margin: $marginStd 0 1.5% 0;

		#image{
			flex: 0 1 auto;
			order: 0;
			align-self: center;
			width: 345px;
			height: 200px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		.title{
			font-family: 'Oswald', sans-serif;
			order: 1;
			width: 75%;
			line-height: $lineHeight;
			font-size: 1.5em;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.author{
			flex: 0 0 auto;
			order: 2;
		}

		.date{
			flex: 0 0 auto;
			order: 2;
		}

	}